@font-face {
  font-family: 'MyFont';
  src: url('../assets//fonts/fontawesome-webfont.ttf') format('ttf'),
    url('../assets/fonts/fontawesome-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.foo {
  color: red;
  font-family: 'MyFont';
}
